@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Poppins&display=swap');

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: -20vw;
  background-size: cover;
  font-family: Poppins, sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: green;
}

.background {
  position: fixed;
  top: -300px;
  left: calc(-100vh + 50vw);
  height: 200%;
  z-index: -100;
}

@media only screen and (min-width: 1600px) {
  .background {
    top: -532px
  }
}

@media only screen and (min-width: 1000px) {
  .container {
    padding-top: 7rem;
  }
}

@media only screen and (max-width: 1000px) {
  .top-nav {
    width: 100%;
  }
}

h1 {
  font-family: Calligraffitti, cursive;
  font-weight: 400;
  font-size: 4.5rem;
  display: inline-block;
  margin-bottom: 0;
}

.logo {
  display: none;
  width: 100%;
  height: auto;
}

small {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  margin-left: 2.5rem;
}

@media only screen and (max-width: 1000px) {
  .logo {
    display: initial;
  }
}

.top-nav {
  font-size: 1.25rem;
}


nav > a {
  font-family: Poppins, sans-serif;
}

.top-nav > a {
  margin-left: 2rem;
}

@media only screen and (max-width: 1000px) {
  .top-nav {
    margin-top: 1rem;
    display: flex;
    max-width: 500px;
    justify-content: space-between;
  }

  .top-nav > a {
    margin-left: 0;
  }
}

.top-nav > a:hover {
  font-weight: bold;
}

.social-icon {
  height: 75px;
}

.copyright {
  margin-left: auto;
}

.scroll-to-top {
  text-align: right;
  width: 100%;
  cursor: pointer;
}

.footer-nav {
  width: 100%;
}

@media (min-width: 768px) {
  .footer-nav {
    height: 10rem;
    width: auto;
  }
}

@media (max-width: 1250px) {
  .intro-image-container {
    display: none;
  }
}

h2 {
  font-family: Calligraffitti, cursive;
  font-size: 40px;
  font-weight: normal;
}

.full-width {
  width: 100%;
  height: auto;
}

.pointer {
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}
